/* @media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
} */


body {
    margin: 0;
    font-size: 16px;
}

.container {
    max-width: 1000px;
    margin:auto;
}

nav ul,
nav ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header {
    background-color: #DDDDDD;
    margin-bottom: 20px;
    height: 40px;
}

.header li {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.header li a {
    color: #000;
    text-decoration: none;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.header li a:hover {
    background-color: #EEE;
}

table th {
    background-color: #DDDDDD;
    padding: 5px;
}

table tr:hover td {
    background-color: #EEE;
}

table td {
    border: 1px solid #DDDDDD;
    padding: 5px;
}

table a {
    color: #00FF;
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

#busca {
    outline: 0;
    border: 0;
    width: 100%;
    height: 30px;
    font-size: 1rem;
}

.form input[type=text],
.form input[type=email],
.form select,
.form textarea {
    width: 100%;
    height: 25px;
    font-size: 1rem;
    padding-left: 10px;
    border: 2px solid #DDD;
    outline: 0;
    margin: 0.5rem 0;
}

form input[type=submit] {
    background-color: #CCCCCC;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}